# You have to remove the .template extension to use this file
jvm-options:
  - "-Dfile.encoding=UTF-8"
  - "-Xmx3G"

server-args:
  - "--nogui"

files:
  # Notice the '.dev' before the extension
  'server.properties': "config/server.dev.properties"
