java-runtime: "/path/to/java"

jvm-options:
  - "-Dfile.encoding=UTF-8"
  - "-Xmx3G"

server-args:
  - "--nogui"

override:
  # Notice the '.dev' before the extension
  'server.properties': "config/server.dev.properties"
